<app-header></app-header>
<div class="mainview">
    <h1>About Us</h1>
    <hr>
    <div>
        Our website is designed for the Event Managment System name 'EVENTIMA' . 
        This website is to book the event in online and is user friendly in all aspects.
        This website helps a lot where many of the people will visit and get benifited.
    </div>
    <div>
        <mat-card>
            <div class="total">
                <div class="image"><img src="https://st3.depositphotos.com/4371877/16954/i/1600/depositphotos_169549818-stock-photo-asphalt-road-texture-of-letter.jpg" alt="Siddharth"></div>
                <div class="imageleft">
                    <h2>Swamy Sunkara</h2>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="total">
                <div class="image"><img src="https://st3.depositphotos.com/4371877/18976/i/1600/depositphotos_189768842-stock-photo-soil-letter-t-uppercase.jpg" alt="imran"></div>
                <div class="imageleft">
                    <h2>Tharun Chowdary</h2>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="total">
                <div class="image"><img src="https://st3.depositphotos.com/4371877/18976/i/1600/depositphotos_189767626-stock-photo-soil-letter-m-uppercase.jpg" alt="imran"></div>
                <div class="imageleft">
                    <h2>Manjunath</h2>
                </div>
            </div>
        </mat-card>
    </div>
</div>